html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
	/* display: flex; */
	flex-direction: column;
    /* color: #bbdc7f; */
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* div.container {
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
} */




.sub-menu {
    margin-top: 105px;
    height: 27px;
    /* margin-bottom: 1 solid #3a3737; */
    border-bottom: 1px solid #ee9a9a;
    transition: height 0.66s ease-out;
    background: #230000;
    padding-bottom: 0;
}

#call-199 a {
    color: #ca0909;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 4px;
    font: 1em sans-serif;
    font-weight: 800;
}

#call-199{
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 0 10px;
    /* border: 1px solid #000; */
    border-radius: 3px;
    margin: 0 10px;
}

.split {
    height: 71%;
    width: 50%;
    border-width: 1px;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    border-top-color: coral;
  }

  /* Control the left side */
.left {
    padding-bottom: 0;
    border-style: solid;
    float: left;
    left: 0;
    position: fixed;
    width: 60%;
    /* border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; */
    padding: 0 0;
  }

  /* Control the right side */
  .right {
    padding-bottom: 0;
    
    border-style: solid;
    float: right;
    right: 0;
    position: fixed;
    width: 40%;
    padding: 0 0;
  }

  .right-ambu {
    padding-top: 3px;
    padding-left: 10px;
    /* border-style: solid; */
    align-items: center;
    align-content: center;
    display: flex;
    width: 40%;
    max-width: 40%;
    float: left;
    /* background: #ca0909; */
  }


#map {
    height: 410px;
    /* margin-bottom: 80px; */
    width: 100%;
    /* margin: 0 10px; */
    transition: height 0.7s ease-out;

}