.login-Main {
    /* position: fixed;
    background-color: #f5f5f5; */
    /* padding-top: 5px; */
}

/* #right-ambu.login-Main {
    width: 30%;
    border-collapse: collapse;
    border-spacing: 0;
    background: #ee9a9a;
  
  }

  form {
    align-items: right;
  } */

  .form-row {
    margin-left: 0;
  }

.right-ambu #login-header{
    height: 5px; 
    text-align: Left; 
    padding-bottom: 25px;
    font-size: 30px;
    color: rgb(39, 5, 5);
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

  .right-ambu .form-control {
    /* margin: 0; */
    /* padding: 0; */
    /* border: 0; */
    border-bottom: 1px solid #000;
    background: transparent;
    font-size: 12px;
    font-weight: 700;
    color: #000;
    outline: none;
    transition: border-color 0.2s;
  }
  