@charset "UTF-8";
/* CSS Document */

.header-local {
    background-color: #121212; /* #810a0a;*/
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-btn-loc {
    color: #3399FF;
    margin-left: 3px;

}
.call-199 {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border: 1px solid #000;
    border-radius: 3px;
    margin: 0 10px;
}
.call-199 a {
    color: #ca0909;
    text-decoration: none;
}

a:active {
    color: #ca0909;
    text-decoration: none;
}