{% extends 'layout.html' %}



{% block content %}

<div class="split right-admin">
  <h1>Requests</h1>
  {% if session['user_type'] == 'admin' %}
  <table id="">
    <div>
      <th>Name</th>
    
      <th>Latitude</th>
      
      <th>Longitude</th>
    </div>
    
    
    
    {% for request in hospitals %}
    <tr>
      <div>
        <td>{{ request['company_id'] }}</td>
        <td>{{ request['latitude'] }}</td>
        <td>{{ request['longitude'] }}</td>
      </div>

    </tr>
    {% endfor %}
  </table>
  {% endif %}

</div>
{% endblock %}