<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" type="text/css" href="../static/styles/commons.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css?{{ cache_id }}">

    <title>Lifelift</title>
  </head>
  <body>
    <header>
			<!-- <div class="logo"></div> -->

			<div id="api_status" class="available">
      </div>

    </header>

    <nav class="navbar">
      <div class="nav-links">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>

    <h1>Welcome to Lifelift ambulance service!</h1>

    <p>Our mission is to provide the best ambulance service in the world. We are here to help you in your time of need.</p>

    <p>Our services include:</p>
    <ul>
      <li>Emergency ambulance service</li>
      <li>Non-emergency ambulance service</li>
      <li>Wheelchair transport</li>
      <li>Stretcher transport</li>
      <li>Special event standby</li>
    </ul>


    <footer>
      <p>2024 Lifelift</p>
    </footer>

  </body>
</html>