<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" type="text/css" href="../static/styles/css/commons.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/css/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/css/footer.css">

    <title>Lifelift</title>
  </head>
  <body>
    <h1>Welcome to Lifelift ambulance service!</h1>

    <p>Our mission is to provide the best ambulance service in the world. We are here to help you in your time of need.</p>

    <p>Our services include:</p>
    <ul>
      <li>Emergency ambulance service</li>
      <li>Non-emergency ambulance service</li>
      <li>Wheelchair transport</li>
      <li>Stretcher transport</li>
      <li>Special event standby</li>
    </ul>

  </body>
</html>